

.cards {
  padding: 15px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.card-element {
  width: 30%;
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.color {
	background-color: #C9ADA7;
	height: 1500px;
}

