 /* style.css */
/* --- Import Components stylesheets --- */
@import url("components/buttons.css");
@import url("components/cards.css");
@import url("components/links.css");
/* [...] */

body {
  background-color: white;
  
} 

.banner {
  max-width: 1400px;
  margin: auto;
  margin-top: 100px;
  background-image: linear-gradient(90deg, rgba(169,139,152,0.5) 0%, rgba(169,139,152,0.5) 35%, rgba(169,139,152,0.5) 100%), url(https://images.pexels.com/photos/6194973/pexels-photo-6194973.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  padding: 100px 50px;
}

.logo {
  max-width: 40px;
}

.container-perso {
  max-width: 950px;
}

.lancemodal {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;

}

.container {
 justify-content: space-between;
 margin-bottom: 40px;

}

h1 { 
  text-align: center;
  color: white;
  font-size: 64px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif; 
}
h2 { 
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

p {
  columns: 150px 3; 
  text-align: center;
  background-color: #C9ADA7;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  border: 2px black;
  padding: 40px;
  margin: 5px;
}

h3 { 
  background-color: #C9ADA7;
  opacity: 0.3;
  background-size: cover;
  text-align: center;
  font-size: 64px;
  font-family: "Times New Roman", Times; 
} 


